
/*shrink size*/
.counter-wrapper {
  zoom: 0.4;
  -moz-transform: scale(0.4);
  text-align: center;
  padding-bottom: 20px;
}

/*remove margin breaking css*/
.flip-clock-wrapper {
  margin: 0px !important;
}

/*center clock*/
.conversion-counter {
  display: inline-block;
  width: auto;
}
