body {
	background-color: FBFBFB;
}

.row {
	margin: 0px !important;
}

form {
	margin: 0px !important;
}

/*Text Areas*/
h4 {
	font-weight: thin;
}

.fill{
	height: 100%;
	padding: 0px;
	position: relative;
}

.cm {
	padding-left: 10px;
	padding-right: 10px;
}

/*Side Bars*/
.side-bar{
	background-color: B3B3B3;
	height: 100%;
	position: relative;
}
.side-bar-button{
	position: absolute;
	bottom: 10;
	right: 10;
	width: 50%;
}

/*Footer*/
.footer{
	background-color: 888887;
	text-align: center;
}

.bullet{
	font-size: 15pt;
	margin-left: 10px;
	margin-right: 10px;
}