body {
	background-color: #F5F5F5;
}

.row {
	margin: 0px !important;
}

form {
	margin: 0px !important;
}

/*Text Areas*/
.main-text{
	padding: 0px !important;
	height: calc(100vh - 35px);
}

h4 {
	font-weight: thin;
}

.cm {
	padding-left: 10px;
	padding-right: 10px;
}

/*Side Bars*/
h5 {
	font-weight: bold;
}

.side-bar{
	background-color: #C6C6C6;
	height: 100%;
	position: relative;
}

.btn-convert{
	width: 100%;
}

.bottom{
	bottom: 10;
	position: absolute;
	width: 90%;
	padding-left: 10%;
}
.source{
	color: #9A9898;
}

.gh-logo{
	vertical-align:middle;
	height: 15px;
	width: 15px;
	margin-left: 5px;
	text-align: right;
}

.side-bar-text {
	color: #000000;
}

/*Footer*/
.footer{
	background-color: #9A9898;
	text-align: center;
	height: 35px;
}

.bullet{
	font-size: 18pt;
	margin-left: 20px;
	margin-right: 20px;
	padding-top: 5px;
	vertical-align:middle;
}

a.gem{
	color: #C6C6C6;
}
a.gem:hover{
	text-decoration: underline;
}