body {
	background-color: #F5F5F5;
}

.row {
	margin: 0px !important;
}

form {
	margin: 0px !important;
}

/*Text Areas*/
.main-text{
	padding: 0px !important;
	height: calc(100vh - 35px);
}

h4 {
	font-weight: thin;
}

.cm {
	padding-left: 10px;
	padding-right: 10px;
}

/*Side Bar*/
h5 {
	font-weight: bold;
}

.side-bar{
	background-color: #CDCDCD;
	height: 100%;
	position: relative;
}

.side-bar-text {
	color: #000000;
}

.btn-convert{
	width: 100%;
}

.bottom{
	bottom: 20;
	right: 0;
	position: absolute;
	width: 80%;
}

.bottom ul{
	margin-top: 5px;
	margin-bottom: 5px
}

.bottom-btn{
	background-color: #7E817E;
	margin-bottom: 15px;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	padding: 5px;
}

.bottom-btn:hover{
	background-color: #F5F5F5;
	color: #000000;
}

.bottom-icon {
	border-right: thin solid #000000;
	width: 30px;
	display: inline;
}

.bottom a{
	color: #FFFFFF;
	font-size: 15px;
	font-weight: bold;
}

.logo{
	vertical-align:middle;
	height: 17px;
	width: 17px;
	margin-left: 5px;
	margin-right: 10px;
}

/*Footer*/
.footer{
	background-color: #7E817E;
	text-align: center;
	height: 35px;
}

.bullet{
	font-size: 18pt;
	margin-left: 20px;
	margin-right: 20px;
	padding-top: 5px;
	vertical-align:middle;
}

a.gem{
	color: #FFFFFF;
}
